<div class="container py-5">
    <div class="text-center">
        <h1 class="display-1">AngularJS</h1>
    </div>
    <div class="container py-5">
        <div class="row py-3">
            <div class="col-12">
                <table id="table{{ name }}" class="display table table-responsive table-hover table-striped table-bordered bg-faded small"
                    cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            {{#attributes }}
                            <th>{{ display }}</th>
                            {{/attributes }}
                            <th>Ações</th>
                        </tr>
                    </thead>
                    <tbody ng-repeat="{{firstLowerCase name }} in {{firstLowerCase name }}s">
                        <tr>
                            {{#attributes }}
                            <td>
                                \{{ {{firstLowerCase ../name}}.{{attribute}} }}
                            </td>
                            {{/attributes }}
                            <td>
                                <button class="btn btn-sm btn-primary" ng-click="edit{{ name }}({{firstLowerCase name }})"><i class="fa fa-pencil" aria-hidden="true"></i></button>
                                <button class="btn btn-sm btn-danger" ng-click="remove{{ name }}({{firstLowerCase name }})"><i class="fa fa-trash" aria-hidden="true"></i></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row py-3">
            <div class="col-12 text-right">
                <button class="btn btn-sm btn-primary btn-lg" ng-click="refresh{{ name }}s()"><i class="fa fa-refresh" aria-hidden="true"></i> Atualizar</button>
            </div>
        </div>

        {{#attributes}}
        <div class="row py-3 text-left">
            <div class="col-12">
                <label for="input{{firstUpperCase display }}">{{ display }}:</label>
                <input type="text" class="form-control" id="input{{ title }}" ng-model="{{firstLowerCase ../name }}Form.{{ attribute }}"
                    ng-keyup="{{firstLowerCase ../name }}FormKeyUp()">
            </div>
        </div>
        {{/attributes}}

        <div class="row">
            <div class="col-12 text-right">
                <button class="btn btn-sm btn-primary" ng-click="submit{{ name }}()" ng-disabled="!{{firstLowerCase name }}FormChanged"><i class="fa fa-pencil" aria-hidden="true"></i> Salvar</button>
            </div>
        </div>
    </div>
</div>